[package]
authors = ["Philippe Normand <phil@base-art.net>"]
description = "Cross-platform media player based on GStreamer and GTK+"
edition = "2018"
keywords = ["multimedia", "gstreamer", "gtk", "playback"]
license = "MIT"
name = "glide"
readme = "README.md"
repository = "https://github.com/philn/glide"
version = "0.5.8"
[dependencies]
directories = "3.0"
failure = "0.1"
gdk = "0.13"
gio = "0.9"
glib = "0.10"
gstreamer-app = "0.16"
lazy_static = "1.4"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
sha2 = "0.9"
structopt = "*"

[dependencies.gstreamer]
features = ["v1_16"]
version = "0.16"

[dependencies.gstreamer-player]
features = ["v1_16"]
version = "0.16"

[dependencies.gstreamer-video]
features = ["v1_16"]
version = "0.16"

[dependencies.gtk]
features = ["v3_24"]
version = "0.9"

[dependencies.self_update]
optional = true
version = "0.16"

[features]
self-updater = ["self_update"]

[target.'cfg(target_os = "macos")'.dependencies]
core-foundation = "0.9"
