name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  linux-build:
    runs-on: ubuntu-latest
    steps:
    - name: Setup Podman
      run: |
        sudo apt update
        sudo apt-get -y install podman
        podman pull fedora:38
    - uses: actions/checkout@v3
    - name: Create container
      run: |
        podman build --tag fedora38test -f ./Dockerfile
    - name: rustfmt
      run: cargo fmt -- --check
    - name: Build
      run: |
        podman run -v $PWD:/workspace -w /workspace --privileged -it fedora38test /root/.cargo/bin/cargo build --verbose
    - name: Annotate commit with clippy warnings
      run: |
        podman run -v $PWD:/workspace -w /workspace --privileged -it fedora38test /root/.cargo/bin/cargo clippy -- -D warnings
    - name: Security audit
      uses: actions-rs/audit-check@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Run tests
      run: |
        podman run -v $PWD:/workspace -w /workspace --privileged -it fedora38test /root/.cargo/bin/cargo test --verbose
  macos-build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Dependencies
      run: |
        brew install pkg-config pango gstreamer gst-plugins-{base,good} gtk+4 libadwaita
        brew install --build-from-source gst-plugins-bad
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
