name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  linux-build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: rustfmt
      run: cargo fmt -- --check
    - name: Install Dependencies
      run: sudo apt install gstreamer1.0-plugins-{base,good,bad} libgstreamer-plugins-{bad,base}1.0-dev libgtk-3-dev gstreamer1.0-{gl,gtk3}
    - name: Build
      run: cargo build --verbose
    - name: Clippy
      run: cargo clippy
    - name: Run tests
      run: cargo test --verbose
  macos-build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Dependencies
      run: |
        brew install pkg-config pango gstreamer gst-plugins-{base,good} gtk+3
        brew install --build-from-source gst-plugins-bad
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
